PORT=3001
MONGODB_URI=mongodb+srv://chamika_user:cstudu415@cluster0.480tg6e.mongodb.net/smart_locker?appName=Cluster0
JWT_SECRET=replace-with-a-strong-secret

ADMIN_INVITE_KEY=change-admin-invite-key

MQTT_SERVER=mqtts://3e037e542d2944a3ae4266e4d6f6c874.s1.eu.hivemq.cloud:8883
MQTT_USERNAME=smartlocker
MQTT_PASSWORD=your-mqtt-password
MQTT_LOCKER_CONTROL_TOPIC=locker/1/control
MQTT_LOCKER_STATE_TOPIC=locker/1/state

SEED_SAMPLE_DATA=true
SAMPLE_SUPER_ADMIN_NAME=Sample Super Admin
SAMPLE_SUPER_ADMIN_EMAIL=superadmin@smartlocker.com
SAMPLE_SUPER_ADMIN_PASSWORD=SuperAdmin123!
SAMPLE_SUB_ADMIN_NAME=Sample Sub Admin
SAMPLE_SUB_ADMIN_EMAIL=subadmin@smartlocker.com
SAMPLE_SUB_ADMIN_PASSWORD=SubAdmin123!
SAMPLE_USER_NAME=Sample User
SAMPLE_USER_EMAIL=user@smartlocker.com
SAMPLE_USER_PASSWORD=User12345!
